
<% @scorecard.hole_scores.order(:hole_num).each do |hole_score| %>
  <div class="well">
    <h3> <%= hole_score.hole_num %> </h3>
    <p> <%= hole_score.score %> </p>
    <p> <%= hole_score.fairway %> </p>
    <p> <%= hole_score.green_ir %> </p>
    <p> <%= hole_score.number_of_putts %> </p>
  </div>
<% end %>
