<h2><%= @scorecard.description %></h2>

<%= link_to 'View course', course_path(@scorecard.course_id) %>

<% if ! @scorecard.completed? %>
  |
  <%= link_to 'Finish scorecard', new_course_scorecard_hole_score_path(@scorecard.course_id, @scorecard.id) %>
<% end %>
|
<%= link_to "Delete", user_scorecard_path(current_user.id, @scorecard.id), :data => {:confirm => "Are you sure you want to delete scorecard?", :method => "delete"}%>
<div class="well stats">
  <h3>Your Stats:</h3>
  <h4>Fairway count: <%= 100 * @scorecard.fairway_count / @scorecard.number_of_holes %>%</h4>
  <h4>Green in Regulation: <%= 100 * @scorecard.gir_count / @scorecard.number_of_holes %>%</h4>
  <h4>Number of putts: <%= @scorecard.num_of_putts %></h4>
  <h4>Total score: <%= @scorecard.total_score %></h4>
</div>

<div class="row">
  <% @scorecard.hole_scores.order(:hole_num).each do |hole_score| %>
    <div class="col-md-4">
      <div class="well">
        <p> <%= link_to "Edit Hole Results", edit_course_scorecard_hole_score_path(@scorecard.course_id, @scorecard.id, hole_score.hole_num) %> </p>
        <h3> Hole: <%= hole_score.hole_num %> </h3>
        <h4>Par: <%= @scorecard.find_hole_by_hole_num(hole_score.hole_num).par %></h4>
        <h4>Yards: <%= @scorecard.find_hole_by_hole_num(hole_score.hole_num).yards %></h4>
        <p> <%= hole_score.score %> </p>
        <p> <%= hole_score.fairway %> </p>
        <p> <%= hole_score.green_ir %> </p>
        <p> <%= hole_score.number_of_putts %> </p>
      </div>
    </div>
  <% end %>
</div>
