<div class="well">
  <h4>Fairway count: <%= 100 * @scorecard.fairway_count / @scorecard.number_of_holes %>%</h4>
  <h4>Green in Regulation: <%= 100 * @scorecard.gir_count / @scorecard.number_of_holes %>%</h4>
  <h4>Number of putts: <%= @scorecard.num_of_putts %></h4>
  <h4>Total score: <%= @scorecard.total_score %></h4>
</div>

<% @scorecard.hole_scores.order(:hole_num).each do |hole_score| %>
  <div class="well">
    <h3> <%= hole_score.hole_num %> </h3>
    <p> <%= hole_score.score %> </p>
    <p> <%= hole_score.fairway %> </p>
    <p> <%= hole_score.green_ir %> </p>
    <p> <%= hole_score.number_of_putts %> </p>
  </div>
<% end %>
