<h3> <b>HOLE:</b> <%= @holescore.hole_num %> </h3>
<h4> Par <%= @hole.par %> </h4>
<h4> <%= @hole.yards %> yards</h4>
<%= form_for @holescore, url: course_scorecard_hole_score_path(@course_id, @scorecard.id, @holescore.hole_num) do |f|%>
  <%= f.label :score %>
  <%= f.text_field :score %>
  <%= f.label :green_ir %>
  <%= f.check_box :green_ir %>
  <%= f.label :fairway %>
  <%= f.check_box :fairway %>
  <%= f.label :number_of_putts %>
  <%= f.text_field :number_of_putts %>
  <%= f.submit 'Update' %>
<% end %>

<% if @holescore.hole_num > 1 %>
  <%= link_to 'Previous hole', edit_course_scorecard_hole_score_path(@course_id, @scorecard.id, @holescore.hole_num-1) %>
<% end %>

<% if @holescore.hole_num < @scorecard.holes.length %>
  | <%= link_to 'Next hole', edit_course_scorecard_hole_score_path(@course_id, @scorecard.id, @holescore.hole_num+1) %>
<% end %>
<% if ! @scorecard.completed? && (@scorecard.hole_scores.length == @holescore.hole_num+1) %>
| <%= link_to 'Current Hole', new_course_scorecard_hole_score_path %>
<% end %>
