<div class="container">
  <center><h1><%= @user.email %></center>
    <div class="row">
      <div class="col-xs-6">
        <h6>Average Score: <span class="avg"><%= @user.avg_score_per_game %></span> </h6>
        <h6>Number of Putts: <span class="avg"><%= @user.avg_num_of_putts %></span></h6>
      </div>
      <div class="col-xs-6">
        <h6>Fairway Count: <span class="avg"><%= @user.fairway_avg %>%</span><h6>
        <h6>GIR: <span class="avg"><%= @user.gir_avg %>%</span></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'follow_form' if user_signed_in? %>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <h6>
          <span class="follow-count"><%= @user.scorecards.count %></span>
          <span class="info-count">Rounds</span>
        </h6>
      </div>
      <div class="col-xs-4">
        <h6>
          <a href="<%= followers_user_path(@user) %>">
            <span class="follow-count">
              <%= @user.followers.count %>
            </span>
            <span class="info-count">followers</span>
          </a>
        </h6>
      </div>
      <div class="col-xs-4">
        <h6>
          <a href="<%= followers_user_path(@user) %>">
            <span class="follow-count">
              <%= @user.following.count %>
            </span>
            <span class="info-count">following</span>
          </a>
        </h6>
      </div>
    </div>
    <% @user.scorecards.each do |scorecard| %>
      <div class="row">
        <div class="col-xs-12">
          <div class="scorecard">
            <h6><%= scorecard.date_format %></h6>
            <h5><%= link_to scorecard.course_name, user_scorecard_path(@user.id, scorecard) %></h5>
            <% if ! scorecard.completed? %>
            <h6><%= link_to 'Finish scorecard', new_course_scorecard_hole_score_path(scorecard.course_id, scorecard.id) %></h6>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
