<div class="container">
  <center><h1><%= @user.email %></center>
    <div class="row">
      <div class="col-xs-6">
        <h6>Average Score: <span class="avg"><%= @user.avg_score_per_game %></span> </h6>
        <h6>Number of Putts: <span class="avg"><%= @user.avg_num_of_putts %></span></h6>
      </div>
      <div class="col-xs-6">
        <h6>Fairway Count: <span class="avg"><%= @user.fairway_avg %></span> %<h6>
        <h6>GIR: <span class="avg"><%= @user.gir_avg %>%</span></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= render 'follow_form' if user_signed_in? %>
      </div>
    </div>
    <div class="well">
      <h2>Rounds Played:</h2>
      <% @user.scorecards.each do |scorecard| %>
        <p>
          <%= link_to scorecard.description, user_scorecard_path(@user.id, scorecard) %>
          <% if ! scorecard.completed? %>
            |
            <%= link_to 'Finish scorecard', new_course_scorecard_hole_score_path(scorecard.course_id, scorecard.id) %>
          <% end %>
        </p>
      <% end %>
    </div>

    <%= link_to "#{@user.followers.count} followers", followers_user_path(@user) %>
    <%= link_to "#{@user.following.count} following", following_user_path(@user) %>
  </div>
