
<center><h1><%= @user.email %></center>
  <%= link_to "Search Golfers", users_path %>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h2>Rounds Played:</h2>
      <% @user.scorecards.each do |scorecard| %>
        <p>
          <%= link_to scorecard.description, user_scorecard_path(@user.id, scorecard) %>
          <% if ! scorecard.completed? %>
            |
            <%= link_to 'Finish scorecard', new_course_scorecard_hole_score_path(scorecard.course_id, scorecard.id) %>
          <% end %>
        </p>
      <% end %>
    </div>
    <%= render 'follow_form' if user_signed_in? %>
    <%= link_to "#{@user.followers.count} followers", followers_user_path(@user) %>
    <%= link_to "#{@user.following.count} following", following_user_path(@user) %>



    </div>
  </div>
    <div class="col-md-6">
      <div class="well">
      <h2>Overall Statistics:</h2>
      <h3>Fairway Count: <%= @user.fairway_avg %> %<h3>
      <h3>Green in Regulation: <%= @user.gir_avg %>% </h3>
      <h3>Number of Putts: <%= @user.avg_num_of_putts %> </h3>
      <h3>Score per Game: <%= @user.avg_score_per_game %> </h3>
    </div>
  </div>
</div>
