<div class="row">
  <div class="col-md-6">
    <h1> <%= @course.name %> </h1>
    <h3> <%= @course.city %>, <%= @course.state %> </h3>
    <h4>Hole Count: <%= @course.hole_count %></h4>
    <img src="<%= @course.image_path %>" alt="Course Image of <%= @course.name %>">
    <p> <%= link_to "Start Scorecard", new_course_scorecard_path(@course.id) %> </p>
  </div>
  <% if user_signed_in? %>
    <div class="col-md-6">
      <% if current_user.scorecards.where(course_id: @course.id).any? %>
        <h3>Your scorecards:</h3>
        <ul>
          <% current_user.scorecards.where(course_id: @course.id).each do |scorecard| %>
            <li>
              <%= link_to scorecard.date_format, user_scorecard_path(current_user.id, scorecard.id) %>
              <% if ! scorecard.completed? %>
                |
                <%= link_to 'Finish', new_course_scorecard_hole_score_path(@course.id, scorecard.id) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <center><h4>You don't have any scorecards for this course yet.</h4></center>
      <% end %>
    </div>
  <% end %>
</div>
